.container {
    min-width:100%;
}

#et{
    font-size:15px;
}
header{

}

footer{

}
#tr,th,td{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-head{
    background-color: rgb(255, 209, 209);
}