#Home{
    background-color: skyblue;
    width:100%;
    height:100%;
    position: relative;
}

p{
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from{
        margin-left: 100%;
        width: 300%;
    }

    to{
        margin-left: 0%;
        width: 100%;
    }
}

#e_info_container{
    width:350px;
    margin:10px;
}

#e_info_table{
    width:1040px;
}

#e_info_input_label_container{
    display: inline-block;
}

.e_info_input_label{
    height:30px;
    margin:5px;
}

#e_info_input_container{
    display: inline-block;
}

.e_info_input{
    margin:5px;
    
    height:30px;
}

#e_info_input_form{
    width:350px;
    background-color: pink;
    display:inline-block;
    margin:30px;
}

.table_head{
    background-color: rgb(255, 209, 209);
    text-align: center;
}

.t_div{
    text-align: center;
    width:100%;
    margin:12px;
}

.table_tuple:hover{
    background-color: rgba(172, 255, 47, 0.528);
}

.user_info_capsule{
    text-align: center;
    width:100%;
    height:100%;
    line-height:50px;
    margin:12px;
    border: none;
    background-color: transparent;
}

.user_info_capsule_edit{
    text-align: center;
    width:100%;
    height:100%;
    line-height:50px;
    margin:12px;
    pointer-events: none;
}

#e_table_container{
    margin:10px;
    background-color: rgba(242, 197, 255, 0.673);
    display: inline-block;
    width:1040px;
}

.t_head{
    padding: 0;
    margin: 0;
}

.feather{
    /* margin-left:24px;
    margin-right:24px; */
    margin:0;
    pointer-events: none;
}

.feather:hover{
    color : blue;
}

.edit_btn{
    padding: 0;
    width:55px;
}

.d_none{
    display: none;
}

.modal_container{
    
    z-index: 2;
    position: absolute;
}

#menu_btn{
    z-index: 3;
    position: absolute;
}

#menu{
    width:300px;
    height: 300px;
    z-index: 2;
    background-color: burlywood;
    margin-top: 48px;
    position:relative;
}

#link{
    position:absolute;
    margin:100px;
}

.btn_status_green{
    background-color: green;
}

.btn_status_red{
    background-color: red;
}
