.modal_container{
    z-index: 2;
    position: absolute;
}

#menu_btn{
    z-index: 3;
    position: absolute;
    border: none;
    background-color: rgb(255, 212, 111);
    border-radius: 7px;
    width:70px;
    height:30px;
    margin-top: 98px;
    box-shadow: 0px 0px 7px 1px gray;
}

#menu{
    width:70px;
    height: 300px;
    z-index: 2;
    background-color: rgb(255, 254, 252);
    margin-top: 140px;
    position:relative;
    transition:0.5s;
    overflow: hidden;
    position: absolute;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 10px 2px gray;
    /* border: 1px solid rgb(66, 191, 249);
    border-left:none; */
}

#menu:hover{
    width:300px;
}

#links{
    position:absolute;
    margin-top: 20px;
}

#link_span{
    background-color: black;
   
    display: flex;
  
}

.icon_content{
    position: absolute;
    color:black;
    font-size: 20px;
    margin: 10px;
}

