#e_table_container{
    overflow: auto;
    height: 600px;
    box-shadow: 0px 3px 14px 2px gray;
    border-radius: 15px;
}

.t_head{
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
}

.t_div{
    position: sticky;
    top:0;
    text-align: center;
    width:100%;
    margin:12px;
}

.table_head{
    position: sticky;
    top:0;
    background-color: white;
    text-align: center;
    box-shadow: 0px 1px 8px 1px gray;
}

#e_info_container{
    width:350px;
    margin:10px;
}

#e_info_table{
    width:1040px;
    background-color: rgb(82, 185, 167);
    border-radius: 15px;
}

#e_info_input_label_container{
    display: inline-block;
}

.e_info_input_label{
    height:30px;
    margin:5px;
}

#e_info_input_container{
    display: inline-block;
}

.e_info_input{
    margin:5px;
    height:30px;
}

#e_info_input_form{
    width:350px;
    background-color: rgb(255, 253, 192);
    display:inline-block;
    margin:30px;
}

.table_tuple:hover{
    background-color: rgba(191, 201, 195, 0.754);
}

.user_info_capsule{
    text-align: center;
    width:100%;
    height:100%;
    line-height:50px;
    margin:12px;
    border: none;
    background-color: transparent;
    color:white;
}

.user_info_capsule_edit{
    text-align: center;
    width:100%;
    height:100%;
    line-height:50px;
    margin:12px;
    pointer-events: none;
}

#e_table_container{
    margin:10px;
    background-color: rgb(255, 254, 250);
    display: inline-block;
    width:1040px;
}

.feather{
    /* margin-left:24px;
    margin-right:24px; */
    margin:0;
    pointer-events: none;
}

.feather:hover{
    color : blue;
}

.edit_btn{
    padding: 0;
    width:55px;
    border: none;
    border-radius: 5px;
    margin:10px;
    box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.73);
    transition:0.3s;
}

.btn_status_green{
    background-color: rgba(255, 86, 86, 0.864);
}

.btn_status_red{
    background-color: rgba(255, 255, 255, 0.942);
}

::-webkit-scrollbar{
    display: none;
}
