.container {
    min-width:100%;
}

#et{
    font-size:15px;
}

tr,th,td{
    padding:0;
}

td{
    width:100px;
    height:50px;
}

.table-head{
    background-color: rgb(255, 209, 209);
}

.table-tuple:hover{
    background-color: greenyellow;
}

.t_div{
    text-align: center;
}

.capsule{
    text-align: center;
    width:100%;
    height:100%;
    line-height:50px;
}